/*-----------------------------------------------------utilities*/

:root{
    --color-secondary-m-2: hsla(0, 0%, 11%, 0.9);
}

/* *********************************************************************************** Media Queries */
@media screen and (max-width: 1300px) {
    /* --------------------------------------- My Works */
    .my-works__imgs--img {
      grid-column: auto / auto !important;
      grid-row: auto / auto !important;
    }
  }
  
  @media screen and (max-width: 900px) {
    /* --------------------------------------- Section Padding */
    .section__padding {
      padding: var(--padding-d-l-v) var(--padding-d-mc-h);
    }
  
    /* --------------------------------------- Header */
    .header__nav {
      flex-direction: column;
      justify-content: center;
  
      padding: var(--padding-d-m-v) var(--padding-d-l-h);
      background-color: var(--color-secondary-m-2);
      transition: all 0.65s ease-in-out;
      height: 100vh;
  
      position: fixed;
      top: 0;
      right: 0;
  
      transform: translateX(400rem);
  
      z-index: 9;
    }
  
    .hamburger {
      height: 5rem;
      width: 8rem;
  
      top: 2rem;
      right: 5rem;
  
      background-color: var(--color-secondary-m-2);
      padding: var(--padding-st-s-v);
      cursor: pointer;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
  
      z-index: 10;
    }
  
    .hamburger__line {
      height: 2px;
      background-color: var(--color-primary);
    }
  
    .hamburger__line:first-child {
      width: 50%;
      transition: all 0.25s ease;
    }
  
    .hamburger__line:nth-child(2) {
      transition: all 0.1s ease;
    }
  
    .hamburger__line:last-child {
      width: 50%;
      transition: all 0.25s ease;
  
      align-self: flex-end;
    }
  
    /* Dynamic Class */
    .display__nav {
      transform: translateX(0);
    }
  
    .hamburger__line-1 {
      transform: rotate(45deg) translateX(1.7rem) translateY(-0.2rem);
    }
  
    .hamburger__line-2 {
      visibility: hidden;
    }
  
    .hamburger__line-3 {
      transform: rotate(-45deg) translateX(-0.2rem) translateY(-2.1rem);
    }
  
    /* --------------------------------------- Hero */
    .hero__content {
      flex-basis: auto;
    }
  
    .hero__bg {
      width: 100%;
    }
  
    /* --------------------------------------- Personal Info */
    .personal-info {
      flex-wrap: wrap;
    }
  
    .personal-info__content,
    .personal-info__img {
      flex-basis: 100%;
    }
  
    .personal-info__img img {
      height: 100%;
      width: 100%;
    }
  
    .personal-info__img::before {
      left: -10%;
    }
  
    /* --------------------------------------- Section Title */
    .section__title {
      font-size: var(--font-size-st-mc);
    }
  
    /* --------------------------------------- Services */
    .services__service-cards--card {
      border: none !important;
    }
  
    /* --------------------------------------- News */
    .news__article--content {
      grid-column: 1 / -1;
  
      background-color: var(--color-secondary-m-2);
    }
  
    .news__article--content__mini-title,
    .news__article--content__link::after {
      background-color: var(--color-primary);
      color: var(--color-secondary);
    }
  
    .news__article--content__title,
    .news__article--content__link {
      color: var(--color-primary);
    }
  
    .news__article--img {
      grid-column: 1 / -1;
    }
  
    /* --------------------------------------- Contact */
    .contact {
      flex-wrap: wrap;
    }
  
    .contact__info,
    .contact__testimonial {
      flex-basis: 100%;
    }
  
    .contact__testimonial {
      background-color: var(--color-secondary-m-2);
    }
  
    .contact__testimonial--info__name {
      color: var(--color-primary);
    }
  
    /* --------------------------------------- Footer */
    .footer__newsletter {
      flex-wrap: wrap;
      gap: 2rem 0;
    }
  
    .footer__newsletter--content,
    .footer__newsletter--form {
      flex-basis: auto;
    }
  
    .footer__newsletter--form input {
      padding: var(--padding-st-s-v) var(--padding-st-s-h);
      font-size: var(--font-size-st-s);
    }
  
    .footer__author {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  
    .footer__author--info,
    .footer__author--quick-links {
      border: none;
    }
  
    .footer__author--info,
    .footer__author--quick-links,
    .footer__author--contact {
      flex-basis: auto;
    }
  
    .footer__copy-rights {
      flex-wrap: wrap;
    }
}
  
@media screen and (max-width: 500px) {
    /* --------------------------------------- Section Padding */
    .section__padding {
      padding: var(--padding-st-l-v) var(--padding-st-s-h);
    }
  
    /* --------------------------------------- My Works */
    .my-works__imgs {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 0;
    }
  
    /* --------------------------------------- Services */
    .services__service-cards {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
}
  